/* Google fonts Imports */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* /* btn */
.btn-module {
    background-color: #ff66a3 !important;
    color: white !important;
    padding: 10px 20px !important;
    font-weight: 600 !important;
}



.navbar-brand {
    font-family: 'Noto Serif', serif;
    font-weight: 800;
    font-size: clamp(1.3rem, 2vw, 1.7rem) !important;
    font-style: italic;
}

.navbar-nav {
    font-size: 1.2rem;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    line-height: 2.5rem;
    font-size: 1.1rem;
}


/* on hover dropdown */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    /* gap remove */
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f5c2dc;
    color: white;
}

/* smooth feel */
.dropdown-menu {
    transition: all 0.2s ease-in-out;
}


.carousel {
    margin-left: 3rem;
    margin-right: 3 rem;
}


.carousel-item img {
    height: 450px;
    object-fit: cover;
    border-radius: 15px;
}



.card-img-top {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
}

.form-label {
    font-weight: 600;
    font-size: 1.0rem;
}


.form-column {
    border-right: 3px solid #aeaeae;
    padding-right: 24px !important;
}

/* success text */
.success-text {
    color: #198754;
    font-size: 0.95rem;
    margin-top: 12px;
    text-align: center;
    font-weight: 500;
}

.packages-container {
    padding-left: 24px;
}


.form-title,
.section-title {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: clamp(1.6rem, 1.5vw, 1.5rem);
}

.about-title {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: clamp(1.6rem, 2vw, 2rem);
}


.about-img {
    width: 550px;
    height: 380px;
    border-radius: 20px;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media (max-width: 768px) {
    .form-column {
        border-right: none;
        padding-right: 0 !important;
    }

    .packages-container {
        padding-left: 0;
    }

    .carousel {
        margin-left: 0;
        margin-right: 0;
    }

    .right-side {
        margin-top: 30px !important;
    }
}



@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        margin: auto;
    }
}